<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us - Ecommerce App</title>
    <link rel="stylesheet" th:href="@{/css/css.css}">
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#" class="navbar-brand">Ecommerce App</a>
            <ul class="nav-links">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<li><a href="/" class="active">Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="/aboutus">About Us</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </div>
        <a href="/login" class="login-btn">Login</a>
    </nav>

    <div style="padding-top: 80px; display: flex; justify-content: center;">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Uday Contact: 7330783491</p>
            <p>Dheeraj Contact: 8688917984</p>
        </div>
    </div>
</body>
</html>
